.libre-caslon-text-regular {
  font-family: "Libre Caslon Text", serif;
  font-weight: 400;
  font-style: normal;
}

.libre-caslon-text-bold {
  font-family: "Libre Caslon Text", serif;
  font-weight: 700;
  font-style: normal;
}

.libre-caslon-text-regular-italic {
  font-family: "Libre Caslon Text", serif;
  font-weight: 400;
  font-style: italic;
}

#title {
  display: block;
}

#text {
  display: block;
}

body {
  text-align: center;
  font-family: "Libre Caslon Text", serif;
  font-weight: 400;
  font-style: normal;
  background-color: #f2dcb1;
}

form {
  display: inline-block;
}

header {
  text-align: left;
}

input {
  display: block;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 10px;
}
textarea {
  margin-top: 5px;
  margin-bottom: 10px;
}

button {
  margin-bottom: 10px;
}

span {
  color: #284283;
  display: none;
}

p {
  color: #808080;
}
