extends layout 

block content 
    h1 Home

        div(id='container')
            span user
            span 1hr ago
            h3 <strong>Title</strong>
            p Description
            span rating 
            span comments